<!DOCTYPE html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <style>body{text-align:center;margin:1% 0;}#logo{font-size:200%;}</style>
  </head>
  <body>
    <!-- ojo... -->
<div style="font-family:'DejaVu Sans', sans-serif;font-weight:bold" id="logo"><span><span style="color:#843511">plan</span><span style="color:#FCBF49">.</span>Procrastin<span style="color:#FCBF49">.</span><span style="color:#75AADB">Ar</span></p></span></div>

    <img src="/evil_gondola.png" alt="evil_gondola.png" width="40%" height="auto"><br />
    &copy;2021 plan.procrastin.ar<br /><br /><br />
    próximamente siendo llenada de <del>mierda</del> contenido(?)
  </body>
</html>